* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1500px; }

.header__wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end; }

.header__search {
  margin: 0 140px 0 100px; }
  .header__search form {
    display: flex;
    width: 440px;
    height: 35px; }
    .header__search form input {
      border: 1px solid #e5e5e5;
      border-right: #00aedb;
      padding-left: 10px;
      width: 70%;
      height: 100%; }
    .header__search form button {
      position: relative;
      border: 1px solid #00aedb;
      width: 30%;
      background-color: #00aedb;
      color: white; }

.header__social-icons a {
  margin-left: 5px; }

.header__social-icons :first-child {
  margin-left: 0; }

.header__nav {
  margin: 20px 0; }
  .header__nav ul {
    display: flex; }
    .header__nav ul li {
      padding: 10px 20px;
      background-color: green; }
      .header__nav ul li a {
        font-size: 19px;
        font-family: "HelveticaLT";
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.947; }
    .header__nav ul :last-child {
      width: 100%; }
