*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
    
}
.header {
    
    &__wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        
    }

    &__search {

        margin: 0 140px 0 100px;
        form {
            width: 440px;
            height: 35px;
            border: 1px solid black;
        
        input [type="search"] {
            border: none;
            width: 70%;
            height: 100%;
        }

        input [type="submit"] {
            border: none;
            width: 29%;
            height: 100%;
        }
        }
        
    }

    &__social-icons {

        a {
            margin-left: 5px;
        }

        :first-child {
            margin-left: 0;
        }
    }

    &__nav {
        margin: 20px 0;

        ul {
            display: flex;

            li {
                padding: 10px 20px;
                background-color: green;
               
                a {
                font-size: 19px;
                font-family: "HelveticaLT";
                color: rgba(255, 255, 255, 1);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.947;
                }
            }
        }
    }
}










